body {
   margin: 0;
   font-family: "Lato", sans-serif;
   display: flex;
   justify-content: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

body > * {
   margin-bottom: 100px;
}

.animation-1 {
   background-color: red;
   width: 150px;
   height: 150px;
   animation: moving 3s both infinite linear alternate 1s;
   /* animation: moving 3s;
   animation-fill-mode: both;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-direction: alternate; */
}

@keyframes moving {
   0% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(100vh);
   }
   100% {
      transform: translate(100vh, 50vh);
   }
}

/* Floating Text */
.floating-text-container {
   display: flex;
   align-items: center;
   justify-content: center;
}
.floating-text {
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 100px;
   color: rgb(153, 255, 153);
   position: relative;
   animation: floating-text-animation 3s alternate infinite linear;
}

.floating-text::before {
   content: "coming soon!";
   position: absolute;
   top: 20px;
   left: 0;
   color: rgb(243, 243, 243);
   z-index: -1;
}

@keyframes floating-text-animation {
   from {
      transform: rotate(5deg);
   }
   to {
      transform: rotate(-5deg);
   }
}

/* Loading Effect */
.loading-effect-1-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
   width: 500px;
   perspective: 200px;
   background-color: rgb(153, 255, 153);
}
.loading-effect-1 {
   background-color: white;
   height: 100px;
   width: 100px;
   border-radius: 12px;
   animation: loading-effect-1-anim 2s linear infinite;
}

@keyframes loading-effect-1-anim {
   0% {
      transform: rotateY(0deg) rotateX(0deg);
   }
   50% {
      transform: rotateY(180deg) rotateX(0deg);
   }
   100% {
      transform: rotateY(180deg) rotateX(180deg);
   }
}

/* Car Driving */
.car-background {
   background: url(images/bg.jpg);
   height: 740px;
   width: 9886px;
   background-position: bottom left;
   background-repeat: no-repeat;
   animation: driving 10s linear infinite;
   position: relative;
}

@keyframes driving {
   from {
      background-position: bottom left;
   }
   to {
      background-position: bottom right;
   }
}

.car {
   position: absolute;
   bottom: -198px;
   left: 15%;
   transform: scale(0.5);
}

.bike {
   position: absolute;
   bottom: -148px;
   left: 40%;
   transform: scale(0.25);
}

/* Text switch */
.text-switch {
   color: rgb(173, 173, 173);
   font-size: 50px;
}

.text-switch span::before {
   content: "transitions";
   text-transform: uppercase;
   color: #1b1464;
   animation: word-switch 5s infinite;
}

@keyframes word-switch {
   0% {
      content: "transitions";
   }
   50% {
      content: "animations";
   }
   100% {
      content: "transforms";
   }
}

/* Image Pattern Animation */
.pattern-bg {
   background: url(images/bg-2.png);
   background-position: 0 0;
   height: 100vh;
   width: 100%;
   animation: scroll-up 2s linear infinite;
}

@keyframes scroll-up {
   from {
      background-position: 0 0;
   }
   to {
      background-position: 800px 0px;
   }
}

.btn {
   outline: none;
   background: none;
   padding: 30px 80px;
   font-size: 32px;
   color: rgb(88, 88, 88);
   border: 3px solid rgb(88, 88, 88);
   cursor: pointer;
}

.btn-shake {
   transition: all 0.3s;
}

.btn-shake:hover {
   animation: shake 0.3s linear 1;
   color: rgb(255, 77, 77);
   border: 3px solid rgb(255, 77, 77);
}

@keyframes shake {
   33% {
      transform: rotate(10deg);
   }
   66% {
      transform: rotate(-10deg);
   }
   100% {
      transform: rotate(10deg);
   }
}

.btn-animated {
   position: relative;
   overflow: hidden;
}

.btn-animated::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 120px;
   top: 0%;
   left: 0%;
   background-color: rgb(255, 77, 77);
   transform: skew(-15deg);
   z-index: -1;
   animation: slide-right 1.2s linear infinite;
   transition: all 0.5s;
}

@keyframes slide-right {
   from {
      left: -120px;
   }
   to {
      left: 100%;
   }
}

.btn-animated:hover::before {
   width: 100%;
   transform: skew(0deg);
   animation: none;
}

.lightning {
   margin: 0;
   padding: 0;
   display: flex;
   background-color: grey;
   padding: 40px;
   border: 6px solid #484848;
}

.lightning li {
   list-style: none;
   color: #484848;
   font-size: 80px;
   letter-spacing: 15px;
   animation: lightning-animation 1.4s linear infinite;
}

@keyframes lightning-animation {
   0% {
      color: #484848;
      text-shadow: none;
   }
   90% {
      color: #484848;
      text-shadow: none;
   }
   100% {
      color: #fff900;
      text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
   }
}

.lightning li:nth-child(1) {
   animation-delay: 0;
}
.lightning li:nth-child(2) {
   animation-delay: 0.1s;
}
.lightning li:nth-child(3) {
   animation-delay: 0.2s;
}
.lightning li:nth-child(4) {
   animation-delay: 0.3s;
}
.lightning li:nth-child(5) {
   animation-delay: 0.4s;
}
.lightning li:nth-child(6) {
   animation-delay: 0.5s;
}
.lightning li:nth-child(7) {
   animation-delay: 0.6s;
}
.lightning li:nth-child(8) {
   animation-delay: 0.7s;
}
.lightning li:nth-child(9) {
   animation-delay: 0.8s;
}

.heart {
   margin-top: 150px;
   position: relative;
   width: 100px;
   height: 100px;
   background-color: #ff3838;
   transform: rotate(45deg);
   animation: heartbeat 1s linear infinite;
}

.heart::before {
   content: "";
   position: absolute;
   width: 100px;
   height: 100px;
   background-color: #ff3838;
   transform: translateY(-50%);
   border-radius: 50%;
   animation: heartbeat-color 1s linear infinite;
}

.heart::after {
   content: "";
   position: absolute;
   width: 100px;
   height: 100px;
   background-color: #ff3838;
   transform: translateX(-50%);
   border-radius: 50%;
   animation: heartbeat-color 1s linear infinite;
}

@keyframes heartbeat {
   0% {
      transform: rotate(45deg) scale(1);
      background-color: #ff3838;
   }
   25% {
      transform: rotate(45deg) scale(1);
   }
   30% {
      transform: rotate(45deg) scale(1.4);
   }
   50% {
      background-color: #ff6161;
      transform: rotate(45deg) scale(1.2);
   }
   70% {
      transform: rotate(45deg) scale(1.4);
   }
   100% {
      transform: rotate(45deg) scale(1);
      background-color: #ff3838;
   }
}

@keyframes heartbeat-color {
   0% {
      background-color: #ff3838;
   }
   50% {
      background-color: #ff6161;
   }
   100% {
      background-color: #ff3838;
   }
}

/* Animated Text */
.animated-text-bg-container {
   padding: 200px;
   background-color: #273c75;
}

.animated-text-bg {
   font-size: 150px;
   text-align: center;
   color: transparent;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;
   background: url(images/bg-3.jpg);
   -webkit-background-clip: text;
   animation: scroll-right 20s linear infinite;
}

@keyframes scroll-right {
   from {
      background-position: 0 0;
   }
   to {
      background-position: 100% 100%;
   }
}

/* Bouncing Balls */
.bouncy-balls {
   position: relative;
   height: 800px;
   width: 800px;
   transform: scale(0.5);
}
.ball-container {
   display: flex;
   justify-content: space-between;
   padding: 100px;
}

.paddle {
   position: absolute;
   width: 100%;
   height: 50px;
   bottom: 100px;
   background-color: rgb(147, 255, 223);
}

.bouncy-balls .ball {
   display: inline-block;
   border-radius: 50%;
   background-color: rgb(147, 255, 223);
   width: 70px;
   height: 70px;
   animation: bounce 0.6s alternate ease-in infinite;
}

@keyframes bounce {
   from {
      transform: translateY(0);
   }
   to {
      transform: translateY(480px);
   }
}

.ball:nth-child(1) {
   animation-delay: 0;
}
.ball:nth-child(2) {
   animation-delay: 0.2s;
}
.ball:nth-child(3) {
   animation-delay: 0.4s;
}
.ball:nth-child(4) {
   animation-delay: 0.6s;
}
.ball:nth-child(5) {
   animation-delay: 0.8s;
}

/* Rain Effect */
.rain {
   width: 100%;
   height: 1200px;
   background: url(images/bg-4.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.rain-effect {
   height: 100%;
   width: 100%;
   background: url(images/rain.png);
   animation: rain 0.3s linear infinite;
}

@keyframes rain {
   from {
      background-position: left top;
   }
   to {
      background-position: 20% 100%;
   }
}

/* Menu Hover Effect */
.menu-hover {
   display: flex;
}
.menu-btn {
   width: 110px;
   height: 110px;
   border-radius: 50%;
   border: 2px solid #0a3d62;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 18px;
   position: relative;
}

.menu-btn .fas {
   font-size: 43px;
   color: #0a3d62;
   border-radius: 50%;
   cursor: pointer;
   z-index: 1;
   padding: 35px;
   transition: color 0.5s, background-color 0.5s, padding 0.5s;
}

.menu-btn .fas:hover {
   background-color: #0a3d62;
   color: white;
   padding: 20px;
}

.menu-btn .fas::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   top: -2px;
   left: -2px;
   border: 2px dashed #0a3d62;
   transition: all 0.5s;
   opacity: 0;
}

@keyframes rotate-clockwise {
   from {
      transform: scale(0.87) rotate(0deg);
   }
   to {
      transform: scale(0.87) rotate(360deg);
   }
}

.menu-btn .fas:hover:after {
   opacity: 1;
   animation: rotate-clockwise 10s linear infinite;
}

/* Loading Text Animation */
.loading-text {
   padding: 0;
   display: flex;
}

.loading-text li {
   list-style-type: none;
   font-size: 80px;
   letter-spacing: 20px;
   animation: loading-text 3s alternate infinite;
}

@keyframes loading-text {
   0% {
      transform: translateX(-50px);
      letter-spacing: 20px;
      color: red;
      opacity: 0;
   }
   10% {
      opacity: 1;
   }
   50% {
      letter-spacing: -20px;
      opacity: 1;
   }
   100% {
      transform: translateX(50px);
      letter-spacing: 80px;
      color: blue;
      opacity: 0;
   }
}

.loading-text li:nth-child(1) {
   animation-delay: 0s;
}
.loading-text li:nth-child(2) {
   animation-delay: 0.2s;
}
.loading-text li:nth-child(3) {
   animation-delay: 0.4s;
}
.loading-text li:nth-child(4) {
   animation-delay: 0.6s;
}
.loading-text li:nth-child(5) {
   animation-delay: 0.8s;
}
.loading-text li:nth-child(6) {
   animation-delay: 1s;
}
.loading-text li:nth-child(7) {
   animation-delay: 1.2s;
}

/* Phone Animation */
.pulse {
   border-radius: 50%;
   background-color: rgb(0, 219, 0);
   color: white;
   height: 100px;
   width: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 48px;
   position: relative;
}

@keyframes ring {
   from {
      opacity: 1;
      transform: scale(1);
   }
   to {
      opacity: 0;
      transform: scale(1.4);
   }
}

.pulse::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   top: -1px;
   left: -1px;
   border-radius: 50%;
   border: 1px solid rgb(0, 219, 0);
   z-index: -1;
   animation: ring 1s linear infinite;
}

.pulse::after {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   top: -1px;
   left: -1px;
   border-radius: 50%;
   border: 1px solid rgb(0, 219, 0);
   z-index: -1;
   animation: ring 1s linear infinite;
   animation-delay: 0.4s;
}

/* Slider */
.slider {
   width: 800px;
   height: 800px;
   background: url(images/deer.jpg) no-repeat;
   animation: slider-scroll 10s linear infinite;
}

@keyframes slider-scroll {
   0% {
      background: url(images/deer.jpg) no-repeat;
   }
   25% {
      background: url(images/girl.jpg) no-repeat;
   }
   50% {
      background: url(images/gun.png) no-repeat;
   }
   100% {
      background: url(images/motobike.png);
   }
}

.bg-color-change {
   font-size: 70px;
   text-align: center;
   text-transform: capitalize;
   color: white;
   animation: bgchange 10s infinite;
   padding: 100px;
}

@keyframes bgchange {
   0% {
      background-color: #272727;
   }
   20% {
      background-color: blue;
   }
   40% {
      background-color: tomato;
   }
   60% {
      background-color: lightblue;
   }
   80% {
      background-color: darkgreen;
   }
   100% {
      background-color: #272727;
   }
}
